---
title: Tech
layout: custome
description: "路在脚下,心向远方"
header-img: "img/post-bg-universe.jpg"
---


<!-- Main Content -->
<div class="zh post-container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {% for cate in site.categories %}
            {% if cate[0] == "Tech" %}
            {% for post in cate[1] %}
            <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">
                        {{ post.subtitle }}
                    </h3>
                    {% endif %}
                    <div class="post-content-preview">
                        {{ post.content | strip_html | truncate:200 }}
                    </div>
                </a>
                <p class="post-meta">
                    Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
                </p>
            </div>
            <hr>
            {% endfor %}
            {% endif %}
            {% endfor %}


        </div>
    </div>
</div>
